<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <tab id="attribute_custom_price_tab_id" translate="label" sortOrder="10">
      <label>Custom Price</label>
    </tab>
    <section id="attribute_custom_price_section_id" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
      <label>Custom Price</label>
      <tab>attribute_custom_price_tab_id</tab>
      <resource>AdminACL_HelloWorld::attribute_section_id_config</resource>
      <group id="attribute_price_group_id" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
        <label>Custom Price</label>
        <field id="enable_custom_price" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Module Enable</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
        <field id="custom_price_discount" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Custom Price Percent Discount</label>
          <comment>Enter %</comment>
        </field>
      </group>
    </section>
  </system>
</config>