<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="learning" translate="label" sortOrder="10">
            <label>Learning</label>
        </tab>
        <section id="airfreight" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Air Freight</label>
            <tab>learning</tab>
            <resource>Learning_AirFreight::airfreight_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                         <field id="display_balloonlbs" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Balloon X (lbs)</label>
                    <comment>Enter lbs</comment>
                </field>
                        <field id="display_balloonpr" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Balloon Y ($)</label>
                    <comment>Enter $</comment>
                </field>
                           <field id="display_charterlbs" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Charter Plane X (lbs)</label>
                    <comment>Enter lbs</comment>
                </field>
                        <field id="display_charterpr" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Charter Plane Y ($)</label>
                    <comment>Enter $</comment>
                </field>
                           <field id="display_speedlbs" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>High-Speed Plane X (lbs)</label>
                    <comment>Enter lbs</comment>
                </field>
                        <field id="display_speedpr" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>High-Speed Plane Y ($)</label>
                    <comment>Enter $</comment>
                </field>
                                <field id="display_spaceshiplbs" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Spaceship X (lbs)</label>
                    <comment>Enter lbs</comment>
                </field>
                        <field id="display_spaceshippr" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Spaceship Y ($)</label>
                    <comment>Enter $</comment>
                </field>
            </group>
        </section>
    </system>
</config>