<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="NBG::top_level" title="NBG" module="NBG_B2B" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="NBG_B2B::nbg_b2b_nbg_b2b_offer" title="nbg b2b offer" module="NBG_B2B" sortOrder="9999" resource="Magento_Backend::content" parent="NBG::top_level" action="nbg_b2b/nbgb2boffer/index"/>
		<add id="NBG_B2B::nbg_b2b_nbg_b2b_offer_customer" title="nbg b2b offer customer" module="NBG_B2B" sortOrder="9999" resource="Magento_Backend::content" parent="NBG::top_level" action="nbg_b2b/nbgb2boffercustomer/index"/>
		<add id="NBG_B2B::nbg_b2b_nbg_b2b_offer_item" title="nbg b2b offer item" module="NBG_B2B" sortOrder="9999" resource="Magento_Backend::content" parent="NBG::top_level" action="nbg_b2b/nbgb2bofferitem/index"/>
	</menu>
</config>
