<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="nbg_b2b" id="nbg_b2b">
			<module before="Magento_Backend" name="NBG_B2B"/>
		</route>
	</router>
</config>
