<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="testtasks" translate="label" sortOrder="10">
            <label>TestTasks</label>
        </tab>
        <section id="socialattribute" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Social product</label>
            <tab>testtasks</tab>
            <resource>TestTasks_DiscountSocialProducts::socialattribute_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_cron" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Cron Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_social" translate="label" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Percent discount</label>
                    <comment>Enter %</comment>
                </field>


                <field id="check_1" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Discount Day Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="discount_day" translate="label" type="select" sortOrder="4" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <source_model>TestTasks\DiscountSocialProducts\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>TestTasks\DiscountSocialProducts\Cron\Model\Config\Backend\Product\Alert</backend_model>
                    <label>Discount Day</label>
                    <depends>
                        <field id="check_1">1</field>
                    </depends>
                </field>


                <field id="check_2" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Discount Time Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>

                </field>
                <field id="time_start" translate="label" type="time" sortOrder="6" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Time Start</label>
                    <depends>
                        <field id="check_2">1</field>
                    </depends>
                </field>
                <field id="time_end" translate="label" type="time" sortOrder="7" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Time End</label>
                    <depends>
                        <field id="check_2">1</field>
                    </depends>
                </field>
                <field id="discount_category" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Discount Category:</label>
                    <source_model>TestTasks\DiscountSocialProducts\Cron\Model\Config\Source\Category</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
