<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
  <router id="standard">
    <route id="product_collection_category_price" frontName="product-collection-category-price">
      <module name="Perspective_ProductCollectionCategoryPrice" />
    </route>
  </router>
</config>